<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} Osmirsys 1.0 {% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/vendor/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/base.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/header.min.css') }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'header.html.twig' %}

        <div class="content">
            {% block content %}{% endblock %}
        </div>
        
        {% block javascripts %}{% endblock %}
    </body>
    {% include 'footer.html.twig' %}
</html>
