<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} Osmirsys 1.0 {% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include 'header.html.twig' %}

        {% block content %}{% endblock %}
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
