body {
    font-size: 14px;
}

/** ============ TABLES ============ **/
table {
    margin: 0 auto;
    min-width: 1000px;
}

tr:nth-child(odd) {
    background: #CCC
}

th {
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}

td {
    padding: 5px;
}

/** ============ LINKS ============ **/
a {
    color: white;
}

/** ============ FORM ELEMENTS ============ **/
input,
select {
    padding: 2px;
    width: 210px;
}

button {
    background-color: green;
    border-color: green;
    color: white;
    margin-left: 10px;
    padding: 2px;
}

/** ============ OTHER HTML ELEMENTS ============ **/
hr {
    height: 1px;
}

/** ============ CUSTOM CLASSES ============ **/
.action-icon {
    float: left;
}

.edit {
    background: url('/images/icons.png') 0 0;
    height: 19px;
    width: 20px;
}

.view-info {
    background: url('/images/icons.png') 0px -20px;
    height: 20px;
    width: 20px;
}

.activate {
    background: url('/images/icons.png') -20px 0;
    height: 19px;
    width: 20px;
}

.deactivate {
    background: url('/images/icons.png') -43px 0;
    height: 20px;
    width: 22px;
}

.content {
    margin: 5px 20px;
}

.page-title {
    float: left;
}

.page-subheader {
    float: left;
    margin-left: 20px;
}

.no-results {
    margin: 10px;
    text-align: center;
}

.add-button {
    float: right;
}

.form-field {
    margin: 10px;
}

.form-label {
    float: left;
    width: 120px;
}

.form-input {
    float: left;
}

.form-error {
    color: red;
}

.form-error ul {
    list-style-type: none;
}

.form-error ul li {
    margin-left: 80px;
}