{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}OsMirSys 1.0{% endblock %}</title>
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
    </head>
    <body>
        <div id="menu">
            {% block menu %}
                <ul>
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li><a href="{{ path('tenants') }}">Tenants</a></li>
                </ul>
            {% endblock %}
        </div>

        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </body>
    <script src={{ asset('osmirsys.min.js') }}></script>
</html>